.title-change-password {
  color: var(--text-gray);
}

.section-input-chage-password {
  margin-top: 1rem;
}

.buttons-container-change-password {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}