.shipments-screen-title {
  color: var(--text-gray);
  margin-bottom: 1rem;
}

.input-area-shipments-screen {
  margin-top: 1rem;
  display: flex;
  gap: 0.4rem;
}

.icon-search-shipments-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-date-search-shipments {
  border: solid 1px var(--main-color);
  border-radius: 8px;
  padding: 0.3rem;
}

.shipments-list-section {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  margin-top: 1rem;
}