.info-card{
  border: 1px solid var(--border-gray);
  border-radius: 8px;
  background-color: var(--background-white);
}

.info-card-container {
  padding: 1rem;
}

.p-info-card-password {
  margin-bottom: .5rem;
}