.side-bar {
  background-color: var(--background-gray);    
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  color: var(--text-white);
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 300;
}

/*Ocultar scroll Chrome, Safari y Opera*/
.side-bar::-webkit-scrollbar{
  display: none;
}

.options {
  padding: .5rem .3rem 0 .3rem ;
}